@font-face {
    font-family: FiraCode;
    src: url(FiraCode-VariableFont_wght.ttf);
}

body {
    background-color: black;
    font-family: FiraCode;
    color: white;
}

.btn.btn-light:disabled {
    opacity: 100%;
}

.btn.btn-dark:disabled {
    opacity: 100%;
}

.btn.btn-danger:disabled {
    opacity: 100%;
}
