<div >
    <h1 style="text-align: center; margin: 20px;">
        {{ name }}
        <div style="font-size: 20px;">
            <span class="badge badge-warning">v. {{ version }}</span>
            <span class="badge badge-light">{{ date }}</span>
        </div>
    </h1>

    <img src="{{ pic }}" class="rounded mx-auto d-block" width="200" style="margin: 10px;">

    <h4 style="text-align: center; margin: 50px;">
        <div type="button" class="btn btn-light">{{ location }}</div> |
        <div type="button" class="btn btn-dark">{{ company }}</div> |
        <div type="button" class="btn btn-danger">{{ email }}</div>
    </h4>

    <h3 style="text-align: center; margin: 50px;">
        {{ bio }}
    </h3>

    <div class="container" style="text-align: center; margin-bottom: 50px;">
        <a href="https://www.linkedin.com/in/lucas-tabis-791921154/" class="btn bg-primary text-centered" style="color: white;">Linkedin</a>
        <a href="https://www.linkedin.com/in/lucas-tabis-791921154/detail/overlay-view/urn:li:fsd_profileTreasuryMedia:(ACoAACUn2R0BYtRAL18A1paG2Yh9xosqfLkE3w4,1570695735361)/" class="btn bg-light text-centered" style="color: black;">Curriculum Vitae</a>
        <a href="https://www.instagram.com/tabrisse/" class="btn text-centered" style="background-color: magenta; color: white;">Instagram</a>
    </div>
</div>